/* Color Theme Swatches in Hex */
$darkGreen: #348888;
$myGreen: #22babb;
$lightGreen: #9ef8ee;
$myOrange: #fa7f08;
$myRed: #f24405;
$c1: #04d912;
$c2: #a7f205;
$c3: #1b13f2;
$c4: #110d8c;
$c5: #0d0d0d;
